*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    overflow-x: none;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.heading{
    font-family: "Poppins";
    font-weight: 400;
    width: 100vw;
    height: 20%;
    text-align: center;
    font-size: 30px;
}

.url{
    width: 50%;
    box-shadow: 5px 10px #cfcdcd;
}
#url{
    size: 100px;
    height: 50px;
    width: 100%;
    font-family: Poppins;
    font-size: 25px;
}

.btn {
    background: #ffd324;
    background-image: -webkit-linear-gradient(top, #ffd324, #fab120);
    background-image: -moz-linear-gradien 5px 10px t(top, #ffd324, #fab120);
    background-image: -ms-linear-gradient(top, #ffd324, #fab120);
    background-image: -o-linear-gradient(top, #ffd324, #fab120);
    background-image: linear-gradient(to bottom, #ffd324, #fab120);
    border-radius: 15px;
    font-family: sans-serif;
    color: #ffffff;
    font-size: 29px;
    padding: 10px 20px 10px 20px;
    text-decoration: black;
}

.btn:hover {
    cursor: pointer;
    
    background: #ec9624;
    background-image: -webkit-linear-gradient(top, #ec9624, #ec9624);
    background-image: -moz-linear-gradient(top, #ec9624, #ec9624);
    background-image: -ms-linear-gradient(top, #ec9624, #ec9624);
    background-image: -o-linear-gradient(top, #ec9624, #ec9624);
    background-image: linear-gradient(to bottom, #ec9624, #ec9624);
    text-decoration: none;
}

.mydiv{
    align-self: center;
    align-items: center;
    font-family: "American Typewriter";
    font-size:30px;
    font-style: inherit;
    margin-top: 3%;
    margin-left: 25%;
    background:#FFFF00;
    width:fit-content;
}

.center{
    font-family: "American Typewriter";
    font-size: 40px;
}